# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Tool specific
credentials/service_account.json
config/sheets_config.json
tiktok_session/
tiktok_session_edge/
tiktok_view_session/
.dependencies_checked

# Build/Dist
build/
.spec
buildAppExe/
buildAppExe.rar

# OS
.DS_Store
Thumbs.db
